In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set()

In [2]:
data = pd.read_csv('analyzed_data.csv')
data.head()

,Country,Year,Number of reported cases of cholera,Number of reported deaths from cholera,Cholera case fatality rate,WHO Region
0,Afghanistan,2016,677,5,0.70,Eastern Mediterranean
1,Afghanistan,2015,58064,8,0.01,Eastern Mediterranean
2,Afghanistan,2014,45481,4,0.00,Eastern Mediterranean
3,Afghanistan,2013,3957,14,0.35,Eastern Mediterranean
4,Afghanistan,2012,12,0,0.10,Eastern Mediterranean

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2373 entries, 0 to 2372
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country                                 2373 non-null   object
 1   Year                                    2373 non-null   int64
 2   Number of reported cases of cholera     2373 non-null   int64
 3   Number of reported deaths from cholera  2373 non-null   int64
 4   Cholera case fatality rate              2352 non-null   float64
 5   WHO Region                              2373 non-null   object
dtypes: float64(1), int64(3), object(2)
memory usage: 111.4+ KB

In [12]:
1- The average number of reported cases of cholera based on the following condition:
data.groupby('Country')['Number of reported cases of cholera'].mean().astype(int)

Country
Afghanistan                           12563
Albania                                 626
Algeria                                 636
Andorra                                   1
Angola                                 7641
                                      ...
Venezuela (Bolivarian Republic of)      696
Viet Nam                               1589
Yemen                                  4035
Zambia                                 3485
Zimbabwe                               6670
Name: Number of reported cases of cholera, Length: 161, dtype: int64

In [16]:
data.groupby('Country')['Number of reported cases of cholera'].sum().astype(int).max()

1293054

In [13]:
2-The average number of reported deaths from cholera based on the following condition:
data.groupby('Country')['Number of reported deaths from cholera'].mean().astype(int)

Country
Afghanistan                           125
Albania                                25
Algeria                                32
Andorra                                 0
Angola                                396
                                     ...
Venezuela (Bolivarian Republic of)     16
Viet Nam                               34
Yemen                                  44
Zambia                                174
Zimbabwe                              310
Name: Number of reported deaths from cholera, Length: 161, dtype: int64

In [14]:
3-The average number of cholera case fatality rate based on the following condition:
data.groupby('Country')['Cholera case fatality rate'].mean()

Country
Afghanistan                            4.110952
Albania                                3.990000
Algeria                                4.412500
Andorra                                     NaN
Angola                                 4.856400
                                        ...
Venezuela (Bolivarian Republic of)     2.820000
Viet Nam                              10.173696
Yemen                                  5.414615
Zambia                                11.567857
Zimbabwe                               4.907391
Name: Cholera case fatality rate, Length: 161, dtype: float64

In [9]:
data.groupby('Country')['Number of reported cases of cholera'].sum().astype(int).max()

1293054

In [7]:
data.head(10)

,Country,Year,Number of reported cases of cholera,Number of reported deaths from cholera,Cholera case fatality rate,WHO Region
0,Afghanistan,2016,677,5,0.70,Eastern Mediterranean
1,Afghanistan,2015,58064,8,0.01,Eastern Mediterranean
2,Afghanistan,2014,45481,4,0.00,Eastern Mediterranean
3,Afghanistan,2013,3957,14,0.35,Eastern Mediterranean
4,Afghanistan,2012,12,0,0.10,Eastern Mediterranean
5,Afghanistan,2011,3733,44,1.18,Eastern Mediterranean
6,Afghanistan,2010,2369,10,0.42,Eastern Mediterranean
7,Afghanistan,2009,662,11,1.66,Eastern Mediterranean
8,Afghanistan,2008,4384,22,0.50,Eastern Mediterranean
9,Afghanistan,2005,33,0,0.00,Eastern Mediterranean